@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-bg-color: #F7F7F7;
  --primary-color: #017143;
  --primary-color-lighter: #008248;
  --primary-color-darker: #014143;
  --header-bg-color: #fff;
  --footer-bg-color: #fff;
  --text-color: #333;
  --text-color-light: #fff;
  --article-title-color: #333;
  --article-text-color: #555;
}

body.theme-dark {
  --main-bg-color: #262626;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section .content {
  padding: 8%;
}

html {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 900;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.btn {
  padding: 8px 20px;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  display: inline-block;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn.secondary {
  background-color: transparent;
  border: 1px solid var(--primary-color-lighter);
  border-radius: 20px;
  color: var(--primary-color-lighter);
  padding: 4px 15px;
  font-size: 0.8rem;
}

header {
  padding: 20px 8%;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .nav-branding {
  z-index: 2;
}

header .nav-branding img {
  width: 90%;
}

header .hamburger {
  display: none;
  cursor: pointer;
  z-index: 2;
}

header .hamburger .bar {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
  background-color: #333;
  width: 30px;
  height: 4px;
  margin: 6px auto;
  border-radius: 2px;
}

header .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

header .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

header .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px) {
  header .hamburger {
    display: block;
  }
  header .nav-menu {
    display: none;
  }
  header .nav-menu.active {
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: var(--footer-bg-color);
  padding: 1rem;
  padding-bottom: 4rem;
}

footer .sci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 2rem;
}

footer a {
  color: var(--text-color);
  text-align: center;
}

footer p {
  color: gray;
}

footer .navbar-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .navbar-footer .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

#landing {
  min-height: 100vh;
}

#landing .text-box h2 {
  color: var(--text-color);
}

#landing .text-box span {
  color: var(--primary-color);
}

#landing .text-box p {
  color: var(--text-color);
  margin-top: 20px;
}

#landing .text-box a {
  margin-top: 20px;
}

.img-box img {
  width: 300px;
}

#products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-color);
}

#products .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products .img-box img {
  -webkit-animation: 1s slide;
          animation: 1s slide;
}

#products .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
}

#products .icons .icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#products .icons .icon img {
  width: 50px;
}

#products .icons .icon:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

#news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 2rem;
}

#news article {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#news article .article-picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#news article .article-details {
  padding: 1.5rem;
}

#news article .article-details h3 {
  color: var(--article-title-color);
}

#news article .article-details p {
  color: var(--article-text-color);
  margin-top: 5px;
}

#news article .article-details a {
  margin-top: 20px;
}
/*# sourceMappingURL=styles.css.map */