* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    .content {
        padding: 8%;
    }
}