header {
    padding: 20px 8%;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    .nav-menu {
        display: flex;
        gap: 20px;
    }

    .nav-branding {
        z-index: 2;
        img {
            width: 90%;
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
        z-index: 2;

        .bar {
            transition: 0.3s ease;
            display: block;
            background-color: #333;
            width: 30px;
            height: 4px;
            margin: 6px auto;
            border-radius: 2px;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }
    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
        }

        .nav-menu {
            display: none;
            // transition: 0.5s ease;

            &.active {
                position: fixed;
                top: 0;
                left: 0;
                gap: 10px;
                width: 100%;
                height: 100vh;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}